<% content_for :title, "Sign up" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-6">Sign up</h1>
  <%= render "shared/error_messages", object: @user %>

  <%= form_with(model: @user, local: true, class: "space-y-6") do |form| %>
    <div>
      <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :name, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>

    <div>
      <%= form.label :email, class: "block text-sm font-medium text-gray-700" %>
      <%= form.email_field :email, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>

    <div>
      <%= form.label :password, class: "block text-sm font-medium text-gray-700" %>
      <%= form.password_field :password, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>

    <div>
      <%= form.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
      <%= form.password_field :password_confirmation, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>

    <div>
      <%= form.submit "Create my account", class: "rounded-md px-4 py-2 bg-indigo-600 hover:bg-indigo-500 text-white font-semibold" %>
    </div>
  <% end %>
</div>
